<a href="https://colab.research.google.com/github/anil1991das/PythonForAll/blob/master/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
numl=[]
for x in range(2000, 3201):
    if (x%7==0) and (x%5==0):
        numl.append(str(x))
print (','.join(numl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [5]:
a=input("Enter the first Name:")
b=input("Enter the second Name:")
print(a[::-1]+ " " +b[::-1])

Enter the first Name:hola
Enter the second Name:holi
aloh iloh

3. Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r ** ***3***

In [8]:
import math

d=12
r=d/2
V= 4/3 * math.pi * r**3
#V= 4/3 * math.pi * math.pow(r,3)
print(V)

904.7786842338603